@use "../../../styles" as *;
*{
    font-family: 'Montserrat', sans-serif;
}


    


.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-self: center;
    margin-top: 2rem;
    padding-top: 5rem;
    gap: 5rem;
    align-items: center;
    background:$primary-color;
    height: 80vh;
    width: 721px;
    border-radius: 21px;
    

        h1 {
            color: #fff;
            font-size: 32px;
            font-weight: 500;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 50px;
            align-items: center;
        }

        input {
            background: white;
            outline: none;
            border: none;
            border-radius: 5px;
            width: 298px;
            height: 38px;
            padding-left: 1rem;
            font-size: 12pt;
        }

        button {
            width: 145px;
            height: 38px;
            background: white;
            border-radius: 5px;
            cursor: pointer;
            font-size: 15pt;
        }

        button:hover {
            background: #dddddd;
        }
        
    }
    

