<div class="section">
    <div class="left">
        <div>
            <h1>Login</h1>
            <form action=""(ngSubmit)="login()">
                <input type="text" [(ngModel)]="credentials.username" name="username" placeholder="username">
                <input type="password" [(ngModel)]="credentials.password" name="password" placeholder="password" id="">

            <button type="submit">Login</button>
            </form>
            
        </div>
    </div>
    <div class="right">
        <span>Big <br>Brother</span>
    </div>
</div>