<div *ngIf="!isLoginPage()">
  <div class="container">
    <aside class="sidebar">
      <div class="logo"><h1>Big Brogther</h1></div>
      <ul>
        <li routerLinkActive="active"><a routerLink="/home" >Inicio</a></li>
        <li routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/reports" >Reports</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/inventory" >Inventory</a></li>
        <li routerLinkActive="active"><a routerLink="/dashboard" >Dashboard</a></li>
        <li routerLinkActive="active"><a routerLink="/home"></a>Home</li>
      </ul>
    </aside>
    <main  class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<div *ngIf="isLoginPage()">
  <router-outlet></router-outlet>
</div>

