<div class="sidenav" *ngIf="!isLoginPage()">
  <div class="logo-container">
      <div class="logo-text">Big Brother</div>
  </div>
  <div class="sidenav-nav">
    @for (item of items; track $index) {
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="item.RouterLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidenav-link-icon" [class]="item.icon"></i>
            <span class="sidenav-link-text">{{ item.label }}</span>
        </a>
      </li>
    }
  </div>

  <button class="logout-btn" (click)="logout()">
    <span>Logout</span>
    <img src="https://cdn-icons-png.flaticon.com/128/3889/3889524.png" alt="logout">
  </button>
</div>