h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
  }

//   .product-form-container .mat-mdc-dialog-container{
//     background-color: #126DE4;
// }
.mat-mdc-dialog-surface{
    background-color: #15316D !important;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  

  

  
  form {
    display: flex;
    flex-direction: column;
    gap: 41px;
    padding: 10px 30px;
    outline: none;

    input {
        font-family: 'Montserrat' sans-serif;
    }

    .name-area {
        display: flex;
        gap: 20px;
    }

    .email {
        input {
            width: 300px;
        }
    }
    .phone {
        input {
            width: 222px;
        }
    }

    input {
        outline: none;
    }

    label {
        font-size: 16px;
        font-weight: 400;
        color: #FFF;
        margin-right: 20px;
    }
 
  }
  .buttons {
    display: flex;
    justify-content: space-between;

    button {
        width: 175px;
        height: 40px;
        color: #15316D;
        font-size: 16px;
        font-weight: 600;
        border-radius: 7px;
        border: none;
        cursor: pointer;
    }

    button:active {
        transform: scale(0.95);
    }

    .save-button {
        background: #126DE4;
        color: #FFF;
        transition: ease-in-out 0.2s;
    }
    

    .cancel-button {
        background: #DDD;
    }
  }
  .spinner {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  