<h2> Product Registration </h2>

<form [formGroup]="productForm" (ngSubmit)="save()">
  
  <div class="category-area form-item">
      <label>Categoria:</label>
      <select formControlName="categoryId">
        <option value="" disabled selected>---Select Category---</option>
        <option value="cerveja" *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        <!-- <option value="refrigerantes">Refrigerantes</option>
        <option value="vinho">Vinho</option>
        <option value="cidras">Cidras</option> -->
      </select>
  </div>

  <div class="name-area form-item">
      <label>Nome:</label>
      <input type="text" formControlName="name" required />
  </div>

  <div class="prices-area form-item">
      <div class="price-area buy-price-area">
          <label>Preço de Compra:</label>
          <input type="number" formControlName="buyPrice" required />
      </div>
    
      <div class="price-area sell-price-area">
        <label>Preço de Venda:</label>
        <input type="number" formControlName="sellPrice" required />
      </div>
  </div>

  <div class="quantity-area form-item">
      <label>Quantidade:</label>
      <input type="number" formControlName="quantity" required /> 
  </div>

  <div class="buttons">
    <button type="button" class="cancel-button" (click)="close()">Cancelar</button>
    <button type="submit" class="save-button" [disabled]="loading">
      <span *ngIf="loading" class="spinner"></span>
      <span *ngIf="!loading">Salvar</span>
    </button>
  </div>

</form>
