<div class="inventory">
    <div class="search-area">
        <span>Inventory</span>
        <input type="search" name="" placeholder="search" id="">
        <button>Add new Product</button>
    </div>

    <section class="product-list">
        <span class="pList-text">Product List</span>
        <div class="categories">
            <span>All</span>
            <span>Beer</span>
            <span>Soda</span>
            <span>Wine</span>
        </div>
        <app-products></app-products>
    </section>
</div>
