@use '@angular/material' as mat;

@include mat.core();

$primary-color: #012a5b;

$meu-tema: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$blue-grey-palette),
    accent: mat.define-palette(mat.$amber-palette),
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($meu-tema);

*{
    margin: 0;
    font-family: "Montserrat", sans-serif;;
}

