<div class="dashboard-container">
    <h1 class="dashboard-title">Dashboard</h1>
  
    <div class="dashboard-grid">
      <div class="card">
        <div>
            <img src="assets/icons/dollar-sign.svg" alt="">
            <p>MZN 1,250.00</p>
        </div>
        <span>Today's Money</span>
      </div>
      <div class="card">
        <div>
            <img src="assets/icons/today-total.svg" alt="">
            <p>167</p>
        </div>
        <span>Sales Today</span>
      </div>
      <div class="card">
        <div>
            <img src="assets/icons/total-products.svg" alt="">
            <p>312</p>
        </div>
        <span>Total Products</span>
      </div>
      <div class="card">
        <span>Low Stock Items</span>
        <p>5</p>
      </div>
    </div>
  
    <div class="charts-section">
      <div class="chart-card monthly">
        <app-montly-sales-chart></app-montly-sales-chart>
      </div>
      <div class="chart-card top-categories">
        <app-top-category-sales></app-top-category-sales>
      </div>
    </div>

    <div class="latest-sales">
      <app-latest-sales-table></app-latest-sales-table>
    </div>
    
  </div>
  