<div class="container">
    <header>

        <div class="lista-vendas-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="22" viewBox="0 0 26 22" fill="none">
                <path d="M1.57024 0C0.690904 0 0 0.690904 0 1.57024C0 2.44957 0.690904 3.14047 1.57024 3.14047C2.44957 3.14047 3.14047 2.44957 3.14047 1.57024C3.14047 0.690904 2.44957 0 1.57024 0ZM6.28095 0V3.14047H25.1238V0H6.28095ZM1.57024 6.28095C0.690904 6.28095 0 6.97185 0 7.85118C0 8.73051 0.690904 9.42142 1.57024 9.42142C2.44957 9.42142 3.14047 8.73051 3.14047 7.85118C3.14047 6.97185 2.44957 6.28095 1.57024 6.28095ZM6.28095 6.28095V9.42142H25.1238V6.28095H6.28095ZM1.57024 12.5619C0.690904 12.5619 0 13.2528 0 14.1321C0 15.0115 0.690904 15.7024 1.57024 15.7024C2.44957 15.7024 3.14047 15.0115 3.14047 14.1321C3.14047 13.2528 2.44957 12.5619 1.57024 12.5619ZM6.28095 12.5619V15.7024H25.1238V12.5619H6.28095ZM1.57024 18.8428C0.690904 18.8428 0 19.5337 0 20.4131C0 21.2924 0.690904 21.9833 1.57024 21.9833C2.44957 21.9833 3.14047 21.2924 3.14047 20.4131C3.14047 19.5337 2.44957 18.8428 1.57024 18.8428ZM6.28095 18.8428V21.9833H25.1238V18.8428H6.28095Z" fill="white"/>
            </svg>
            <span class="username">Lista de vendas</span>  
        </div>

        <div class="user">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0C8.7 0 6 3.36 6 7.5C6 11.64 8.7 15 12 15C15.3 15 18 11.64 18 7.5C18 3.36 15.3 0 12 0ZM5.73 15C2.55 15.15 0 17.76 0 21V24H24V21C24 17.76 21.48 15.15 18.27 15C16.65 16.83 14.43 18 12 18C9.57 18 7.35 16.83 5.73 15Z" fill="white"/>
            </svg>  
            <span class="username">{{  username }}</span>  
        </div>
    </header>

    <div class="cart-section">
        <div class="cart-search-area">
            <div class="search-container">
                <!-- Pesquisa por produto -->
                <div class="product-search">
                    <input 
                    type="text" 
                    [ngModel]="searchQuery()" 
                    (ngModelChange)="searchQuery.set($event)" 
                    (focus)="onFocus()" 
                    (blur)="onBlur()" 
                    placeholder="Pesquisar produto..."
                    />
                  
                    <div class="dropdown" *ngIf="showDropdown() && filterProducts().length > 0">
                        <ul>
                            <li *ngFor="let product of filterProducts()" (mousedown)="addToCart(product)">
                                {{ product.name }}
                            </li>
                        </ul>
                        
                    </div>
                    <p *ngIf="showDropdown() && filterProducts().length === 0">Nenhum produto encontrado</p>
                </div>
            </div>
    
            <div class="cart-container">
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Preço Unitário</th>
                            <th>Subtotal</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cartItems(); let i = index">
                            <td class="product-name">{{ item.product }}</td>
                            <td class="quantity-cell">
                                <button class="qty-btn" (click)="decreaseQuantity(i)">-</button>
                                <input type="number" [(ngModel)]="item.quantity" (change)="updateQuantity(i)" />
                                <button class="qty-btn" (click)="increaseQuantity(i)">+</button>
                            </td>
                            <!-- <td class="available-qtd">{{}}</td> -->
                            <td>{{ item.sellPrice | currency: 'MZN' }}</td>
                            <td>{{ item.subtotal | currency: 'MZN' }}</td>
                            <td>
                                <button class="remove-btn" (click)="removeItem(item)">Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
    
                
              
                
            </div>
        </div>

        <div class="payment-section">
            <h1>Pagamento</h1>
            <div class="total">
                <span>TOTAL MZN:</span>
                <h2>{{ totalAmount() | currency: 'MZN' }}</h2>
                <p>Qtd de produtos: 4</p>
            </div>
    
            <div class="payment-options">
                <h3>Formas de Pagamento</h3>
          
                    <div class="payment-option" *ngFor="let option of paymentOptions">
                      <label for="{{option.type}}">{{ option.label }}</label>
                      <input 
                        id="{{option.type}}"
                        type="number" 
                        [value]="getPaymentAmount(option.type)" 
                        (input)="updatePayment(option.type, $any($event.target).value)" 
                        placeholder="Valor para {{ option.label }}"
                      />
                    </div>
      
              
                <div class="total-payment">
                  <p>Total Pago: {{ totalPayment() | currency }}</p>
                </div>

                <div class="change">
                    <p>Troco: {{ changeAmount() | currency }}</p>
                </div>
              
                <button (click)="confirmPayment()">Confirmar Pagamento</button>
              </div>
        </div>


        

        
    </div>

    <div class="card">
        <h2>Últimas Vendas</h2>
        <ul>
          <li *ngFor="let sale of latestSales">
          {{ sale.totalAmount }} MZN 
          </li>
        </ul>
      </div>

    
</div>
